.dndflow {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 10px 10px;
    font-size: 12px;
    background: #D0CEE5;
    display: flex;
    height: 80px;
    width: 100px;
    position: absolute;
    bottom:1rem;
    right: 40rem;
    border-radius: 4px;
    flex-direction: row;
    
  }
  
  
  .dndflow .dndnode.dnddrag {
    height: 50px;
    padding: 4px;
   
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: 5px;
    width: 100px;
    border-radius: 4px;
 
    background-color: #58549E;
    color: white;
   
  }
  
  .dndflow .dndnode.input {
    height: 50px;
    padding: 4px;
   
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: 5px;
    width: 100px;
    border-radius: 4px;
    
    background-color: #58549E;
    color: white;
  }
  
  .dndflow .dndnode.output {   
    height: 50px;
    padding: 4px;
   
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: 5px;
    width: 100px;
    border-radius: 4px; 
    background-color: #58549E;
    color: white;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%; 
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }


  
  .dnd_avatar_child_div{
    display:flex;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 1%;
  
  }


  .dnd .avatar_child_div{
    display:flex;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 1%;
    
  }

.dragndrop_exitlogo{
    margin-right: 2%; 
    display: flex;
    position:absolute;
    top:3%;
    right:.5%;
    width: 20px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    
  }

  
 .dndflow .react-flow__controls{
  top: 40%;
  left: 0%;
  height: 120px;
  background-color: #ECE5D9;
  display: flex;
  flex-direction: column;
}



.download-logo{
  color: black;
  left: 1px;
  width: 20px;
  height: 30px; 
  margin-left: 7px;
    
}


#dnd .download-btn {
  position: absolute;
  top: 2.3%;
  right: 4.2%;
  z-index: 10;
  background:#ECE5D9;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  height: 43px;
}

#dnd.download-btn:hover {
  opacity: 0.9;
}


.react-flow__edges.selected{
  stroke: #ebf8ff;
}


  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 100%;
      max-width: 350px;
    }
  }
  