.text-updater-node {
    height: 55px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background: #FF7777;
  }
  
  .text-updater-node label {
    display: block;
    color: black;
    font-size: 15px;
  
  }
  