.exitlogo{
    margin-right: 2%; 
      display: flex;
      position:absolute;
      top:2%;
      right:0%;
      width: 20px;
      height: 45px;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;
    
  }
  
  .exitlogo:hover{
    opacity: 0.9;
  }